.btn {
  cursor: pointer;
  margin-right: 20px;
}

.clicked {
  color: #7f8c8d;
}

ul {
  padding-left: 0;
}
li {
  font-size: 20px;
  font-weight: bold;
  list-style: none;
  padding-left: 0px;
}

li span {
  margin-left: 10px;
}

li button {
  background-color: transparent !important;
  background-image: none !important;
  border-color: transparent;
  border: none;
  font-weight: bold;
  font-size: 20px;

  color: #ffffff;
  cursor: pointer;
}
